<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>146202369393-v558p2udr1m04uu8fc3bim5930qgcdlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146202369393-v558p2udr1m04uu8fc3bim5930qgcdlu</string>
	<key>API_KEY</key>
	<string>AIzaSyAVLc7-fMyiwp_NoW_Ur7AE7JByM0SBoKI</string>
	<key>GCM_SENDER_ID</key>
	<string>146202369393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>williamlin.JobTracker</string>
	<key>PROJECT_ID</key>
	<string>jobtracker-e1c9a</string>
	<key>STORAGE_BUCKET</key>
	<string>jobtracker-e1c9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146202369393:ios:e36d8bea90ea196d</string>
	<key>DATABASE_URL</key>
	<string>https://jobtracker-e1c9a.firebaseio.com</string>
</dict>
</plist>